secret-*.yaml
*.env
platform/external-secrets/clustersecretstore-azure-key-vault.yaml
node_modules/
switch.md
# Allow
!*.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfplan
crash.log
terraform.tfvars
terraform.tf
tfplan.json
