secret-*.yaml
*.env
configs/external-secrets/clustersecretstore-azure-key-vault.yaml
node_modules/

# Allow
!*.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfplan
crash.log
terraform.tfvars
terraform.tf
tfplan.json
