apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: azure-key-vault-store
spec:
  provider:
    azurekv:
      authType: ServicePrincipal
      vaultUrl: https://YOUR-KEYVAULT-NAME.vault.azure.net  # TODO: Replace Azure Key Vault URL
      tenantId: YOUR-TENANT-ID  # TODO: Replace Azure Tenant-ID
      authSecretRef:
        clientId:
          name: azure-creds
          key: ClientID
          namespace: external-secrets
        clientSecret:
          name: azure-creds
          key: ClientSecret
          namespace: external-secrets
