apiVersion: v1
kind: Secret
metadata:
  name: azure-config
  namespace: daylog
type: Opaque
stringData:
  # The ID of your Microsoft Entra ID (formerly Active Directory)
  tenant-id: "your-tenant-id-here"
  # The name of your Azure Key Vault
  key-vault-name: "your-key-vault-name"

