apiVersion: v1
kind: Secret
metadata:
  name: azure-config
  namespace: daylog
type: Opaque
stringData:
  # The ID of your Azure Active Directory Tenant
  tenant-id: "your-tenant-id-here"
  # The name of your Azure Key Vault (e.g. homelab-keys)
  key-vault-name: "your-key-vault-name"

